body {
  width: 100%;
  margin: 0 auto;
  margin-top: 0 auto;
}

.main-menu {
  width: 100%;
}

.top-header {
  width: 75%;
  float: left;
  margin-top: 0 auto;
}

.background-graph {
  margin-top: 270px;
}

.external-links {
  width: 25%;
  float: right;
  color: #344a53ff;
}

.external-links a {
  text-decoration: none;
  color: #344a53ff; /* Ensure consistent color for links */
}

main {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  float: left;
}

h1, h2, h3, p, a, ul {
  font-family: 'CMU Sans Serif', sans-serif;
  color: #344a53ff;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}


p, a {
  font-size: 20px;
}

.how-to-find-me, .research-interest, .publications, .selected-publications, .events, .seminars, .cv {
  line-height: 25pt;
  margin-left: 60px;
}

/* Navigation Bar Styling */
.navbar {
  width: 100%;
  text-align: center; /* Center the navigation bar */
  margin: 30px 0; /* Add some spacing around the navbar */
  background-color: transparent; /* Keeping it minimal */
  padding: 10px 0; /* Padding for better spacing */
  display: flex;
  gap: 20px;
  justify-content: center;  /* Center the items horizontally */
}

.navbar a {
  color: #344a53ff; /* Use the same color as other links */
  text-decoration: none; /* Remove underline */
  margin: 0 15px; /* Space between links */
  font-size: 20px; /* Consistent font size */
}

.navbar a:hover {
  text-decoration: underline; /* Add underline on hover for clarity */
}

/* Navigation Bar Styling */
.vertical-navbar {
  width: 100%;
  margin: 5px 0; /* Add some spacing around the navbar */
  background-color: transparent; /* Keeping it minimal */
  padding: 5px 0; /* Padding for better spacing */
}

.vertical-navbar a {
  color: #344a53ff; /* Use the same color as other links */
  text-decoration: none; /* Remove underline */
  margin: 0 15px; /* Space between links */
  font-size: 20px; /* Consistent font size */
}

.vertical-navbar a:hover {
  text-decoration: underline; /* Add underline on hover for clarity */
}

@media (max-width: 768px) {
 
  main {
    width: 100%;
    max-width: 100%;
    float: left;   /* you KEEP the float */
  }
  
  .top-header{
    width: 75%;
    float: none;

  }
  
  .external-links {
    width: 25%;
    float: none;
  }

  .how-to-find-me, 
  .selected-publications,
  .publications,
  .research-interest,
  .events,
  .seminars,
  .cv {
    margin-left: 15px;
    margin-right: 15px;
  }

  p, a {
    font-size: 18px;
  }

  h1 {
    font-size: 20x;
  }

  h2 {
    font-size: 18px;
  }
}
